@use 'sass:math';

@import '../variables/colors';

:root {
  @each $color, $shades in $colors {
    $index: 0;

    @if length($shades) == 1 {
      $shade: nth($shades, 1);

      --#{$color}: hsl(#{nth($shade, 1), nth($shade, 2), nth($shade, 3)});

      @for $i from 1 through 19 {
        --#{$color}-a#{$i * 5}: hsla(
          #{nth($shade, 1),
          nth($shade, 2),
          nth($shade, 3)},
          #{math.div($i * 5, 100)}
        );
      }
    } @else {
      @if length($shades) > 3 {
        @each $shade in $shades {
          $index: $index + 1;

          --#{$color}-#{$index * 100}: hsl(#{nth($shade, 1), nth($shade, 2), nth($shade, 3)});

          @for $i from 1 through 19 {
            --#{$color}-#{$index * 100}-a#{$i * 5}: hsla(
              #{nth($shade, 1),
              nth($shade, 2),
              nth($shade, 3)},
              #{math.div($i * 5, 100)}
            );
          }
        }
      } @else {
        --#{$color}: hsl(#{nth($shades, 1), nth($shades, 2), nth($shades, 3)});
      }
    }
  }

  --link-color: var(--blue-700);

  --neutral-100: var(--grey-100);
  --neutral-200: var(--grey-100);
  --neutral-300: var(--grey-300);
  --neutral-400: var(--grey-400);
  --neutral-500: var(--grey-500);
  --neutral-600: var(--grey-600);
  --neutral-700: var(--grey-700);
  --neutral-800: var(--grey-800);
  --neutral-900: var(--grey-900);

  --accent-100: var(--blue-100);
  --accent-200: var(--blue-100);
  --accent-300: var(--blue-300);
  --accent-400: var(--blue-400);
  --accent-500: var(--blue-500);
  --accent-600: var(--blue-600);
  --accent-700: var(--blue-700);
  --accent-800: var(--blue-800);
  --accent-900: var(--blue-900);

  --neutral-700-a60: var(--grey-700-a60);
  --neutral-700-a60: var(--grey-700-a60);
}
