@import "../variables/typography";

:root {
  --webfont-base: $webfontBase;
}

@mixin fontFace($cwd: "", $name: "", $style: normal, $weight: 400) {
  @font-face {
    src: url("#{$cwd}.woff2"), url("#{$cwd}.woff");
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-display: swap;
  }
}

@include fontFace(
  $name: $webfontBase,
  $cwd: "@fontsource/nunito-sans/files/nunito-sans-latin-400-normal"
);
