@import '../mixins/font-face';
@import '../variables/typography';

:root {
  --webfont-base: '#{$webfont-base}';
}

@include fontFace($path: '@fontsource/nunito-sans/files/nunito-sans-latin-400-normal');

@include fontFace(
  $path: '@fontsource/nunito-sans/files/nunito-sans-latin-500-normal',
  $weight: 500
);

@include fontFace(
  $path: '@fontsource/nunito-sans/files/nunito-sans-latin-700-normal',
  $weight: 700
);
