@import "./config/animation";
@import "./config/box-model";
@import "./config/color-chart";
@import "./config/font-size";
@import "./config/webfont";

@import "./mixins/box-sizing";

body {
  margin: 0;
  padding: 0;
  font-family: $webfont-base;
  background: #f1f1f1;

  @include boxSizing();
}
