@import './src/styles/config/animation';
// @import './src/styles/config/box-model';
@import './src/styles/config/font-size';
@import './src/styles/config/webfont';

// @import './src/styles/mixins/box-sizing';

body {
  margin: 0;
  padding: 0;
  font-family: $webfont-base;
  background: #f1f1f1;

  // @include boxSizing();
}

/**
  * Keyframe definitions that are included within the Shadow DOM of the
  * defined Component.
  */
@keyframes rotate {
  to {
    transform: rotate(1turn);
  }
}

@keyframes rotateFromCenter {
  to {
    transform: translate(-50%, -50%) rotate(1turn);
  }
}

@keyframes rippleSmall {
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes rippleMedium {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
