@import "../styles/mixins/content-margin";
@import "../styles/mixins/responsive-font";

@import "../styles/variables/typography";
@import "../styles/variables/breakpoints";

::slotted(*:first-child) {
  margin-top: 0;
}

::slotted(*:last-child) {
  margin-bottom: 0;
}

::slotted(:is(h1, h2, h3, h4, h5, h6)) {
  margin: 0;
}

@each $heading in $headings {
  ::slotted(#{$heading}) {
    @include responsive-font-size($heading);
  }
}

::slotted(:is(h1, h2)) {
  line-height: 1.2;
  font-weight: 900;
  @include content-margin($margin: 1.075em);
}

::slotted(:is(h3, h4, h5, h6)) {
  font-weight: 700;
}

::slotted(:is(h3, h4, h5, h6, p)) {
  line-height: normal;
  @include content-margin($margin: 1em);
}

::slotted(:is(address, bdo, blockquote, cite, dl, p, ol, ul)) {
  @include content-margin($margin: 1em);
  line-height: 1.875;
}

::slotted(:is(address, blockquote dl, p, ol, ul)) {
  @include content-margin($margin: 1em);
}

.content {
  $node: &;

  padding: var(--space-24) var(--space-16);

  &--is-fluid {
    padding: var(--space-24);
  }

  @media (min-width: $smartphone) {
    padding: var(--space-32) var(--space-24);

    &--is-fluid {
      padding: var(--space-32);
    }
  }

  @media (min-width: $tablet) {
    padding: var(--space-48) var(--space-32);

    &--is-fluid {
      padding: var(--space-48);
    }
  }

  @media (min-width: $desktop) {
    padding: var(--space-64) var(--space-32);

    &--is-fluid {
      padding-top: var(--space-64);
      padding-bottom: var(--space-64);
    }
  }

  :host([mode="dark"]) & {
    background-color: var(--dusk-900-a95);
    color: var(--grey-700);
  }

  &--is-nested {
    padding: 0;
  }

  &--is-grey {
    background-color: var(--grey-500);

    :host([mode="dark"]) & {
      background-color: var(--dusk-900);
    }
  }

  &__wrapper {
    width: 100%;
    max-width: $desktop;
    margin-left: auto;
    margin-right: auto;

    #{$node}--is-fluid & {
      max-width: $widescreen;
    }

    // #{$node}--is-nested & {
    //   max-width: none;
    // }
  }

  &__header {
    margin-bottom: var(--space-32);

    @media (min-width: $tablet) {
      margin-bottom: var(--space-48);
    }
  }

  &__label {
    font-weight: 300;
    @include content-margin($margin: 1em);

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__summary {
    @include responsive-font-size("summary");
    @include content-margin($margin: 1em);
    line-height: 1.125;
    color: var(--grey-600);

    :host([mode="dark"]) & {
      color: var(--grey-700);
    }

    #{$node}--is-grey & {
      color: var(--grey-700);

      :host([mode="dark"]) & {
        color: var(--grey-800);
      }

      // color: var(--grey-700);
    }

    &[aria-hidden="true"] {
      display: none;
    }
  }

  &__main {
    @include responsive-font-size("base");
  }
}
