@import '../styles/mixins/visually-hidden';
@import '../styles/mixins/box-sizing';

@import '../styles/variables/breakpoints';

@include boxSizing();

.file-selector {
  &__input {
    @include visuallyHidden();
  }

  &__label {
    display: block;
    margin-bottom: var(--space-12);
  }

  &__legend {
    display: block;
    text-align: center;
    margin-top: var(--space-12);
    order: 1;
  }

  &__selected {
    display: flex;
    flex-direction: column;
    margin-top: var(--space-24);
  }

  &__selected-items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    row-gap: var(--space-8);
  }

  &__selected-item {
    align-items: center;
    animation: var(--duration-default) var(--easing-default) 1 none spawn;
    background-color: var(--dawn-100);
    border-radius: var(--space-4);
    border: solid var(--space-1) var(--white);
    box-shadow: var(--space-0) var(--space-2) var(--space-4) var(--dawn-900-a10);
    color: var(--grey-900);
    margin: 0;
    padding: var(--space-12) var(--space-16);
    font-size: var(--font-size-small);
    transition: transform var(--duration-default) var(--easing-default);
    display: flex;

    &:focus-visible {
      transform: scale(1.0625);
    }
  }

  &__selected-item-header {
    @media (min-width: $tablet) {
      margin-right: var(--space-12);
      display: flex;
      align-items: center;
    }
  }

  &__selected-item-header,
  &__selected-item-header-body {
    flex-grow: 1;
  }

  &__selected-item-path {
    display: block;
    color: var(--grey-700);
  }

  &__selected-item-size {
    flex-shrink: 0;
    display: block;
    margin-top: var(--space-8);
    color: var(--grey-700);

    @media (min-width: $tablet) {
      margin: 0;
    }
  }

  &__selected-item-clear {
    appearance: none;
    padding: var(--space-8);
    display: flex;
    outline: none;
    border: none;
    background-color: transparent;
    color: currentColor;
    opacity: 0;

    .file-selector__selected-item:hover &,
    &:focus-within {
      opacity: 1;
      cursor: pointer;
    }

    &:focus-within {
      color: var(--accent-600);
    }
  }

  &__selected-item-clear-icon {
    position: relative;
    display: block;
    width: var(--space-16);
    height: var(--space-16);

    &::before,
    &::after {
      display: block;
      content: ' ';
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--space-16);
      margin-left: calc(var(--space-0) - var(--space-16) / 2);
      margin-top: calc(var(--space-0) - var(--space-2) / 2);
      height: var(--space-2);
      background-color: currentColor;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(315deg);
    }
  }

  &__selected-item-clear-label {
    @include visuallyHidden();
  }

  &__placeholder {
    padding: var(--space-32) var(--space-24);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: var(--space-8);
    background-color: var(--grey-400);
    border: solid var(--space-1) var(--grey-600);
    font-weight: 700;
    transition: var(--duration-default) var(--easing-default);
    transition-property: background-color, box-shadow;

    :host([mode='dark']) & {
      background-color: var(--grey-800);
      border: none;
      color: var(--grey-600);
    }

    .file-selector__input:focus-within ~ * & {
      box-shadow: 0 0 0 var(--space-2) var(--accent-600);

      :host([mode='dark']) & {
        box-shadow: 0 0 0 var(--space-2) var(--accent-600);
      }
    }

    .file-selector__input:disabled ~ * & {
      cursor: not-allowed;
      color: currentColor;
      background-color: var(--grey-500);
    }
  }

  &__placeholder-icon {
    display: block;
    width: var(--space-48);
    height: var(--space-64);
    position: relative;
    border-radius: var(--space-2);
    overflow: hidden;
    box-shadow: 0 var(--space-1) var(--space-2) var(--dawn-900-a10);
    transition: var(--duration-default) var(--easing-default);
    transition-property: box-shadow transform;

    :host([mode='dark']) & {
      box-shadow: 0 var(--space-1) var(--space-2) var(--dusk-900-a30);
    }

    &:not(:only-child):first-child {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.5;
      transform: rotate(15deg);
    }

    .file-selector--is-dropzone &,
    .file-selector__placeholder:hover &,
    .file-selector__input:focus-within ~ * & {
      &:not(:only-child):first-child {
        transform: rotate(5deg) translate(10%, -15%);
      }

      &:nth-child(2) {
        transform: rotate(-12deg) translate(-10%, -5%);
        box-shadow: 0 var(--space-1) var(--space-2) var(--space-1) var(--dawn-900-a20);

        :host([mode='dark']) & {
          box-shadow: 0 var(--space-1) var(--space-2) var(--space-1) var(--dusk-900-a20);
        }
      }
    }

    &::before,
    &::after {
      display: block;
      content: ' ';
      position: absolute;
      background-color: var(--accent-400);

      :host([mode='dark']) & {
        background-color: var(--accent-500);
      }
    }

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      height: calc(var(--space-48) / 2);
      width: 75%;
      background: linear-gradient(180deg, var(--accent-500) 0%, var(--accent-400) 50%);

      :host([mode='dark']) & {
        background: linear-gradient(180deg, var(--accent-600) 0%, var(--accent-500) 50%);
      }
    }

    &::before {
      bottom: 0;
      left: 0;
      width: 100%;
      height: calc(100% - var(--space-48) / 4);
    }
  }

  &__placeholder-icon-fold {
    display: block;
    position: absolute;
    top: 0;
    background-color: var(--accent-300);
    border-bottom-left-radius: inherit;
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    right: 0;
    width: calc(var(--space-48) / 4);
    height: calc(var(--space-48) / 4);
    box-shadow: 0 var(--space-1) var(--space-2) var(--accent-700);

    :host([mode='dark']) & {
      background-color: var(--accent-400);
      box-shadow: 0 var(--space-1) var(--space-2) var(--accent-800);
    }
  }

  &__placeholder-icon-group {
    position: relative;
    margin-bottom: var(--space-16);
  }

  &__placeholder-info {
    display: block;
    font-weight: 400;
    color: var(--grey-700);
    margin-top: var(--space-4);
    font-size: var(--font-size-small);

    :host([mode='dark']) & {
      color: var(--grey-700);
    }
  }
}
