@import "../styles/mixins/content-margin.scss";
@import "../styles/mixins/responsive-font";

li,
dd,
dt {
  margin: 0;
}

.list-item {
  @include content-margin($margin: 0.875em);

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.list-item-term {
  font-weight: 700;
  margin-bottom: var(--space-8);

  & + .list-item-definition {
    margin-top: 0;
  }
}

:host {
  display: block;
  @include content-margin($margin: 1.075em);
}
