@import '../styles/mixins/visually-hidden';
@import '../styles/mixins/box-sizing';
@import '../styles/mixins/responsive-font';

@include boxSizing();

:host {
  slot:not([name]) {
    display: none;
  }
}

.multiple-select {
  display: flex;

  &__body {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__placeholder {
    position: relative;
    min-width: var(--space-288);
    background-color: var(--dawn-100);
    border-radius: var(--space-4);
    box-shadow:
      var(--space-0) var(--space-0) var(--space-0) var(--space-1) var(--dawn-900-a20),
      var(--space-0) var(--space-1) var(--space-3) var(--dawn-900-a10);
    transition-property: box-shadow;
    transition: var(--duration-default) var(--easing-default);

    :host([mode='dark']) & {
      border-color: var(--grey-800);
      background-color: var(--grey-800);
    }

    multiple-select[aria-expanded='true'] &,
    &:focus-within {
      box-shadow:
        0 0 0 var(--space-2) var(--accent-600),
        0 var(--space-8) var(--space-10) calc(var(--space-0) - var(--space-10) / 4)
          var(--accent-600-a20);
    }
  }

  &__placeholder-input {
    appearance: none;
    border: none;
    background: transparent;
    width: 100%;
    padding: var(--space-12) var(--space-16);

    &::selection {
      background-color: var(--accent-600);
      color: var(--accent-100);
    }

    :host([mode='dark']) & {
      color: var(--grey-300);
    }

    &:focus {
      outline: none;
    }

    &,
    &::placeholder {
      font-family: var(--webfont-base);
      @include responsive-font-size('base');
    }
  }

  &__placeholder-icon-wrapper {
    padding: var(--space-8);
  }

  &__input {
    @include visuallyHidden();
  }

  &__input-label {
    display: block;

    border-top: solid var(--space-1) var(--grey-400);

    :host([mode='dark']) & {
      border-color: currentColor;
    }

    &:first-child {
      border: none;
    }
  }

  &__input-value,
  &__placeholder {
    &::after {
      display: block;
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      border-radius: inherit;
      border: solid var(--space-2) currentColor;
      opacity: 0;
      pointer-events: none;
      transition: var(--duration-default) var(--easing-default);
      transition-property: opacity;

      :host([mode='dark']) & {
        border-color: var(--accent-500);
      }
    }
  }

  &__input-value {
    position: relative;
    display: flex;
    align-items: center;
    padding: var(--space-12);
    gap: var(--space-16);
    border-radius: var(--space-4);

    :host([mode='dark']) & {
      color: var(--grey-300);
    }

    &::before {
      width: var(--space-6);
      height: var(--space-12);
      border: solid var(--space-2) currentColor;
      border-left: none;
      border-top: none;
      display: block;
      content: ' ';
      transform: rotate(45deg);
      opacity: 0;
    }

    .multiple-select__input:not(:disabled) ~ & {
      cursor: pointer;
      user-select: none;
    }

    .multiple-select__input:focus-visible ~ & {
      color: var(--accent-600);

      :host([mode='dark']) & {
        color: var(--accent-500);
      }

      &::after {
        opacity: 1;
      }
    }

    .multiple-select__input:disabled ~ & {
      opacity: 0.5;
      cursor: not-allowed;
    }

    .multiple-select__input:checked ~ & {
      color: var(--accent-600);

      :host([mode='dark']) & {
        color: var(--accent-500);
      }

      &::before {
        opacity: 1;
      }
    }
  }

  &__dropdown {
    position: absolute;
    left: 0;
    width: 100%;
    max-height: 40vh;
    overflow: auto;
    z-index: var(--depth-foreground);
    -webkit-overflow-scrolling: touch;
    transition:
      opacity var(--duration-default) var(--easing-default),
      margin var(--duration-default) var(--easing-default),
      visibility 0ms linear var(--duration-default);

    visibility: hidden;
    opacity: 0;
    background-color: var(--grey-100);
    border-radius: var(--space-4);
    max-width: var(--space-600);
    box-shadow:
      0 var(--space-1) var(--space-2) var(--dawn-900-a10),
      0 var(--space-8) var(--space-12) var(--space-4) var(--dawn-900-a10);

    .multiple-select--align-from-top & {
      bottom: 100%;

      &[aria-hidden='false'] {
        margin-bottom: var(--space-12);
      }
    }

    .multiple-select--align-from-bottom & {
      top: 100%;

      &[aria-hidden='false'] {
        margin-top: var(--space-12);
      }
    }

    &[aria-hidden='false'] {
      opacity: 1;
      visibility: visible;

      transition:
        opacity var(--duration-default) var(--easing-default),
        margin var(--duration-default) var(--easing-default),
        visibility 0ms linear 0ms;
    }

    :host([mode='dark']) & {
      box-shadow: none;
      background-color: var(--grey-800);
    }
  }

  &__selected {
    padding: 0 var(--space-12);
    height: 0;
    overflow: hidden;
    transition: var(--duration-default) var(--easing-default);
    transition-property: height opacity padding-top padding-bottom;
    box-sizing: content-box;

    &[style] {
      opacity: 1;
      padding-bottom: var(--space-12);
    }

    &:focus-within {
      overflow: visible;
    }
  }

  &__selected-options {
    display: flex;
    gap: var(--space-8);
    align-items: center;
    flex-wrap: wrap;
  }

  &__selected-option {
    appearance: none;
    position: relative;
    display: inline-flex;
    padding: var(--space-4) var(--space-12);
    border-radius: var(--space-4);
    background-color: var(--grey-400);
    color: var(--grey-800);
    border: solid var(--space-1) var(--grey-500);
    outline: none;
    font-family: var(--webfont-base);

    @include responsive-font-size('base');

    :host([mode='dark']) & {
      background-color: var(--grey-700);
      color: var(--grey-300);
      border: none;
    }

    &:not(span) {
      cursor: pointer;
      animation: var(--duration-default) var(--easing-default) 1 forwards fadeIn;
    }

    &:not(button) {
      color: var(--grey-700);
      opacity: 0.5;
      box-shadow: 0 var(--space-1) var(--space-2) var(--dawn-900-a10);

      :host([mode='dark']) & {
        opacity: 0.7;
        box-shadow: 0 var(--space-1) var(--space-2) var(--dusk-900-a20);
      }
    }

    &:focus-visible,
    &:not(span):hover {
      background-color: var(--accent-400);
      border-color: var(--accent-500);
      color: var(--accent-900);

      :host([mode='dark']) & {
        background-color: var(--accent-600);
        border-color: var(--accent-700);
        color: var(--accent-300);
      }

      &::before,
      &::after {
        margin-top: calc(var(--space-0) - var(--space-16) / 2);
        opacity: 1;
      }

      .multiple-select__selected-option-label {
        opacity: 0;
      }
    }

    &:focus-visible {
      box-shadow: 0 0 0 var(--space-2) var(--accent-700);

      :host([mode='dark']) & {
        box-shadow: 0 0 0 var(--space-2) var(--accent-400);
      }
    }

    &::before,
    &::after {
      background-color: currentColor;
      opacity: 0;
      content: ' ';
      display: block;
      height: var(--space-16);
      left: 50%;
      position: absolute;
      top: 50%;
      width: var(--space-2);
      margin-top: calc(var(--space-0) - var(--space-16) / 4);
      margin-left: calc(var(--space-0) - var(--space-2) / 2);
      transition: var(--duration-default) var(--easing-default);
      transition-property: margin opacity;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(315deg);
    }
  }

  &__selected-option-label {
    transition: var(--duration-default) var(--easing-default);
    transition-property: opacity;
    user-select: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
