@import '../styles/mixins/visually-hidden';
@import '../styles/mixins/box-sizing';
@import '../styles/mixins/responsive-font';

.textarea {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--space-12);
  margin-bottom: var(--space-24);

  &__aside {
    flex-shrink: 0;
    min-width: var(--space-288);
    padding-top: var(--space-12);
  }

  &__body {
    min-width: var(--space-288);
    flex-grow: 1;
    max-width: var(--space-480);
    position: relative;
  }

  &__input {
    width: 100%;
    height: auto;
    resize: vertical;
    background-color: transparent;
    appearance: none;
    border: none;
    outline: none;

    width: 100%;
    appearance: none;
    border: none;
    background: transparent;
    padding: var(--space-12) var(--space-16);
    flex-grow: 1;
    min-height: var(--space-240);

    &[size] {
      width: auto;
    }

    &::selection {
      background-color: var(--accent-600);
      color: var(--accent-100);
    }

    &,
    &::placeholder {
      font-family: var(--webfont-base);
      @include responsive-font-size('base');
    }

    &::placeholder {
      color: var(--grey-900);
      opacity: 0.35;
    }

    :host([mode='dark']) & {
      color: var(--grey-300);

      &::placeholder {
        color: var(--grey-600);
        opacity: 0.45;
      }
    }

    &:focus {
      outline: none;
      border-color: transparent;
    }
  }

  &__input-wrapper {
    display: flex;
    position: relative;
    box-shadow:
      var(--space-0) var(--space-0) var(--space-0) var(--space-1) var(--dawn-900-a20),
      var(--space-0) var(--space-1) var(--space-3) var(--dawn-900-a10);

    // box-shadow: var(--space-0) var(--space-1) var(--space-3) var(--dawn-900-a10);
    border-radius: var(--space-4);
    transition: var(--duration-default) var(--easing-default);
    transition-property: box-shadow;
    background-color: var(--dawn-100);

    &:focus-within {
      box-shadow:
        0 0 0 var(--space-2) var(--accent-600),
        0 var(--space-8) var(--space-10) calc(var(--space-0) - var(--space-10) / 4)
          var(--accent-600-a20);
    }

    .textfield:focus-within & {
      z-index: calc(var(--depth-foreground) + 1);
    }

    :host([mode='dark']) & {
      box-shadow: 0;
      border-color: var(--grey-900);
      background-color: var(--grey-800);

      &:focus-within {
        box-shadow: 0 0 0 var(--space-2) var(--accent-600);
      }
    }
  }
}
