@import '../styles/mixins/visually-hidden';
@import '../styles/mixins/box-sizing';
@import '../styles/mixins/responsive-font';

@include boxSizing();

.textfield {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: var(--space-12);
  margin-bottom: var(--space-24);

  &__label-wrapper {
    flex-shrink: 0;
    min-width: var(--space-288);
    padding-top: var(--space-12);
  }

  &__input-wrapper {
    display: flex;
    position: relative;
    min-width: var(--space-288);
    box-shadow:
      var(--space-0) var(--space-0) var(--space-0) var(--space-1) var(--dawn-900-a20),
      var(--space-0) var(--space-1) var(--space-3) var(--dawn-900-a10);

    // box-shadow: var(--space-0) var(--space-1) var(--space-3) var(--dawn-900-a10);
    border-radius: var(--space-4);
    transition: var(--duration-default) var(--easing-default);
    transition-property: border, transform;
    background-color: var(--dawn-100);

    :host([mode='dark']) & {
      box-shadow: 0;
      border-color: var(--grey-900);
      background-color: var(--grey-800);

      // &:focus-within {
      //   border-color: var(--accent-900);
      // }
    }
  }

  &__input {
    width: 100%;
    appearance: none;
    border: none;
    background: transparent;
    padding: var(--space-12) var(--space-16);
    flex-grow: 1;

    &,
    &::placeholder {
      font-family: var(--webfont-base);
      @include responsive-font-size('base');
    }

    &::placeholder {
      color: var(--grey-900);
      opacity: 0.35;
    }

    :host([mode='dark']) & {
      color: var(--grey-300);

      &::placeholder {
        color: var(--grey-600);
        opacity: 0.45;
      }
    }

    &:focus {
      outline: none;
      border-color: transparent;
    }
  }

  &__input:focus-visible ~ .textfield__focus-indicator,
  &__actions:focus-within ~ .textfield__focus-indicator {
    opacity: 1;
    visibility: visible;
    transition:
      opacity var(--duration-default) var(--easing-default),
      visibility 0ms 0ms;
  }

  &__actions {
    display: flex;
    gap: var(--space-4);
    align-items: center;
    flex-shrink: 0;
    padding-right: var(--space-4);
  }

  &__action {
    position: relative;
    appearance: none;
    // border-radius: 50%;
    border: none;
    background-color: transparent;
    width: var(--space-24);
    height: var(--space-24);
    cursor: pointer;
    color: var(--grey-900);

    :host([mode='dark']) & {
      color: var(--grey-700);
    }
    // overflow: hidden;

    &:focus {
      outline: none;

      &,
      :host([mode='dark']) & {
        color: var(--accent-600);
      }

      // :host([mode='dark']) & {
      //   color: var(--accent-700);
      // }
    }

    &--is-selected {
      &::after {
        animation: rippleAnimation var(--duration-slow) 1;
      }
    }

    &::after {
      display: block;
      content: ' ';
      position: absolute;
      width: var(--space-24);
      height: var(--space-24);
      left: 0;
      top: 0;
      // animation: rippleAnimation var(--duration-slow) 1;
      // animation-fill-mode: forwards;
      background-color: var(--white);
      border-radius: 50%;
      opacity: 0.7;
      pointer-events: none;
      transform: scale(0);
      user-select: none;
    }
  }

  &__action-label {
    @include visuallyHidden;
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__copy-icon {
    pointer-events: none;
    position: relative;
    flex-shrink: 0;
    display: block;
    width: var(--space-12);
    height: var(--space-16);
    border: solid var(--space-2) currentColor;
    border-radius: var(--space-2);
    transition: var(--duration-default) var(--easing-default);
    transition-property: border color;

    &::after {
      transition: none;
      transition-property: inherit;
      display: block;
      content: ' ';
      border: inherit;
      border-color: currentColor;
      border-radius: inherit;
      position: absolute;
      top: var(--space-2);
      left: var(--space-2);
      background-color: var(--grey-100);
      width: inherit;
      height: inherit;

      :host([mode='dark']) & {
        background-color: var(--grey-800);
      }
    }
  }

  &__clear-icon {
    display: block;
    pointer-events: none;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      content: ' ';
      width: var(--space-2);
      height: var(--space-16);
      background-color: currentColor;
      transition: var(--duration-default) var(--easing-default);
      transition-property: border color;
      margin-top: calc(var(--space-0) - var(--space-16) / 2);
      margin-left: calc(0 - var(--space-2) / 2);
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__search-icon {
    display: block;
    pointer-events: none;

    &::before,
    &::after {
      display: block;
      content: ' ';
      position: absolute;
      top: 45%;
      left: 50%;
      transition: var(--duration-default) var(--easing-default);
      transition-property: border color;
    }

    &::after {
      width: var(--space-12);
      height: var(--space-12);
      border-radius: 50%;
      border: solid var(--space-2) currentColor;
      transform: translate(-50%, -50%);
    }

    &::before {
      width: var(--space-2);
      height: var(--space-8);
      margin-left: calc(var(--space-0) - var(--space-8) + var(--space-1));
      margin-top: var(--space-2);
      transform-origin: 0% 50%;
      background-color: currentColor;
      transform: rotate(45deg);
    }
  }

  &__focus-indicator {
    display: block;
    position: absolute;
    top: calc(var(--space-0) - var(--space-2));
    left: calc(var(--space-0) - var(--space-2));
    bottom: calc(var(--space-0) - var(--space-2));
    right: calc(var(--space-0) - var(--space-2));
    border-radius: var(--space-4);
    border: solid var(--space-2) var(--accent-600);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition:
      opacity var(--duration-default) var(--easing-default),
      visibility 0ms linear var(--duration-default);
  }
}

@keyframes rippleAnimation {
  to {
    transform: scale(1.6);
    opacity: 0;
  }
}
