@import './src/styles/mixins/box-sizing';

@include boxSizing();

.toolbar {
  background-color: var(--dawn-100-a80);
  backdrop-filter: blur(var(--space-8));
  color: var(--dawn-900);
  left: 0;
  position: fixed;
  top: 0;
  transition-property: box-shadow transform;
  transition: var(--duration-default) var(--easing-default) var(--duration-fast);
  width: 100%;
  z-index: var(--depth-foreground);

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -10%;
    right: -10%;
    content: ' ';
    display: block;
    transition: inherit;
    box-shadow:
      var(--edge-surface) var(--dawn-700-a20),
      var(--shadow-surface) var(--dawn-700-a10);
  }

  :host([mode='dark']) & {
    background-color: var(--dusk-900);

    &::before {
      box-shadow:
        var(--edge-surface) var(--dusk-800-a40),
        var(--shadow-surface) var(--dusk-800-a20);
    }
  }

  :host([accent]) & {
    background-color: var(--accent-500-a95);

    &::before {
      box-shadow:
        var(--edge-surface) var(--accent-800-a40),
        var(--shadow-surface) var(--accent-800-a20);
    }
  }

  :host([accent][mode='dark']) & {
    background-color: var(--accent-800-a90);

    &::before {
      box-shadow:
        var(--edge-surface) var(--accent-900-a40),
        var(--shadow-surface) var(--accent-900-a20);
    }
  }

  :host([aria-hidden='true']) &,
  :host([aria-hidden='true'][accent][mode]) & {
    transform: translateY(-100%);

    &::before {
      box-shadow: none;
    }
  }

  &__wrapper {
    position: relative;
    padding: var(--space-16) var(--space-24);
    max-height: 100vh;
  }

  &__push {
    transition: var(--duration-default) var(--easing-default);
    transition-property: height;
  }
}
