.window {
  width: 600px;
  position: absolute;
  z-index: calc(var(--depth-foreground));

  :host([aria-hidden]) & {
    display: none;
  }

  :host([aria-current='true']) & {
    z-index: calc(var(--depth-foreground) + 1);

    &--is-zoomed {
      z-index: calc(var(--depth-overlay) + 1);
    }
  }

  :host([aria-grabbed]) & {
    z-index: calc(var(--depth-fixed));
  }

  &--is-zoomed {
    z-index: var(--depth-overlay);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__canvas {
    display: flex;
    height: inherit;
    flex-direction: column;
    border-radius: var(--space-6);
    overflow: hidden;
    background-color: var(--dawn-100);
    border: solid var(--space-1) var(--dawn-900-a20);
    transition: var(--duration-default) var(--easing-default);
    transition-property: box-shadow, opacity;
    transition: var(--duration-default) var(--easing-default);
    transition-property: opacity, transform;

    box-shadow:
      var(--shadow-fixed) var(--dawn-900-a10),
      var(--edge-surface) var(--dawn-900-a5);

    :host([aria-grabbed]) & {
      opacity: 0.6;
      transform: scale(1.025);
    }

    :host([aria-grabbed][mode='dark']) & {
      opacity: 0.8;
    }

    // .window--is-zoomed & {
    :host([aria-current='true']) & {
      box-shadow:
        var(--shadow-overlay) var(--dawn-900-a40),
        var(--edge-surface) var(--dawn-900-a5);
    }

    :host([aria-current='true'][mode='dark']) & {
      box-shadow:
        var(--shadow-overlay) var(--dusk-900-a40),
        var(--edge-surface) var(--dusk-900-a5);
    }

    // }

    :host([mode='dark']) & {
      // background-color: transparent;
      background-color: var(--dusk-800);
      border-color: var(--dusk-900-a80);

      // border: solid var(--space-1) var(--dusk-100-a10);
      // border-color: var(--dusk-900-a90);

      // &::before {
      //   background-color: var(--dusk-900-a20);
      // }
    }

    :host([aria-current='true'][accent]) & {
      border-color: var(--dawn-900);
    }

    :host([aria-current='true'][accent][monochrome='true']) & {
      background-color: var(--accent-300);
      border-color: var(--accent-900-a20);

      // &::before {
      //   background: var(--accent-900-a10);
      // }
    }

    :host([aria-current='true'][accent][mode='dark']) & {
      border-color: var(--dusk-900);
    }

    :host([accent][mode='dark'][monochrome='true']) & {
      background-color: var(--accent-900);
      border-color: var(--accent-900-a80);
      // border-color: var(--accent-900-a90);

      // &::before {
      //   background: var(--accent-800-a80);
      // }
    }

    :host([aria-collapsed]) & {
      // display: ;
      opacity: 0.2;
    }

    .window--is-zoomed & {
      border-radius: 0;
      border-width: 0;

      :host([aria-current='true'][accent]) &,
      :host([mode='dark']) &,
      :host([accent][mode='dark']) & {
        background-color: transparent;
      }
    }
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--dawn-200-a95);
    padding: var(--space-12) var(--space-16);
    color: var(--dawn-900);
    border-bottom: solid var(--space-1) var(--dawn-900-a20);
    z-index: var(--depth-foreground);
    flex-shrink: 0;
    gap: var(--space-12);
    backdrop-filter: blur(var(--space-32));
    transition: var(--duration-default) var(--easing-default);
    transition-property: background, background-color, border-color, color;

    // border-bottom: none;
    // border-bottom-color: var(--dawn-900-a10);
    // border-top-left-radius: var(--space-6);
    // border-top-right-radius: var(--space-6);
    // box-shadow: var(--edge-foreground) var(--dawn-100);
    box-shadow: var(--edge-surface) var(--dawn-500-a10);

    .window--is-zoomed & {
      :host([aria-current='true'][accent]) & {
        background-color: var(--accent-400-a80);
      }
    }

    .window--has-overlay & {
      &,
      :host([aria-current='true']),
      :host([accent]),
      :host([aria-current='true'][accent]) &,
      :host([aria-current='true'][mode='dark']),
      :host([aria-current='true'][accent][mode='dark']) & {
        box-shadow: none;
        border-bottom-color: transparent;
      }
      // background: none transparent;
    }

    &::before {
      position: absolute;
      top: var(--space-1);
      left: var(--space-6);
      right: var(--space-6);
      height: var(--space-1);
      content: ' ';
      display: block;
      color: var(--dawn-100);
      background: linear-gradient(
        90deg,
        transparent 0%,
        currentColor var(--space-32),
        currentColor calc(100% - var(--space-32)),
        currentColor calc(100% - var(--space-32)),
        transparent 100%
      );
    }

    .window--type-is-compact & {
      padding: var(--space-6) var(--space-16);
    }

    &:hover {
      :host([aria-grabbed]) & {
        background-color: var(--dawn-300);
      }

      :host([aria-grabbed][accent]) & {
        background-color: var(--accent-500);
      }

      :host([aria-grabbed][mode='dark']) & {
        background: transparent;
      }

      :host([aria-grabbed][accent][mode='dark']) & {
        background: var(--accent-900);
      }
    }

    :host([aria-current='true']) & {
      background-color: var(--dawn-400);
    }

    :host([accent]) & {
      // color: var(--dawn-500);
    }

    :host([aria-current='true'][accent]) & {
      color: var(--accent-900);
      border-color: var(--accent-600);
      background-color: var(--accent-400);
      box-shadow: var(--edge-surface) var(--dawn-500);

      &::before {
        color: var(--accent-300);
      }
    }

    :host([aria-current='true'][accent][monochrome='true']) & {
      box-shadow: var(--edge-surface) var(--accent-500-a40);
    }

    :host([mode='dark']) & {
      color: var(--dusk-700);
      border-color: var(--dusk-900);
      // border-bottom-color: var(--dusk-800);
      // border-left-width: 0;
      // border-right-width: 0;
      box-shadow: var(--edge-surface) var(--dusk-900-a30);
      box-shadow: none;
      background-color: var(--dusk-800-a40);
      // border-bottom-color: var(--dusk-500-a60);

      &::before {
        top: var(--space-1);
        color: var(--dusk-700-a80);
      }
    }

    :host([aria-current='true'][mode='dark']) & {
      color: var(--dusk-300);
      background-color: var(--dusk-800);
    }

    :host([accent][mode='dark'][monochrome='true']) & {
      background-color: var(--accent-900);
      color: var(--accent-700);
      border-color: var(--accent-900);
    }

    :host([aria-current='true'][accent][mode='dark']) & {
      background-color: var(--accent-800);
      color: var(--accent-500);
      border-color: var(--accent-900);

      &::before {
        color: var(--accent-800);
      }
    }

    :host([accent][mode='dark']) & {
      color: var(--dusk-500);

      // border-bottom-width: 0;
      background: var(--accent-800);
      // box-shadow: var(--edge-surface) var(--dusk-900-a20);
      box-shadow: none;
      // background: linear-gradient(0, var(--accent-900-a95), var(--accent-900));
      // border-color: var(--accent-900);
      background-color: var(--dusk-800);
    }

    .window__content & {
      padding: var(--space-24) var(--space-20);

      &,
      :host([accent][mode='dark']) &,
      :host([accent]) &,
      :host([mode='dark']) & {
        box-shadow: none;
        border-radius: 0;
        border: none;
        background: none transparent;
        backdrop-filter: none;

        &::before {
          display: none;
        }
      }
    }
  }

  &__meta {
    display: block;
    flex-grow: 1;
    margin-right: auto;
    text-align: center;
  }

  &__controls {
    flex-shrink: 0;
    order: -1;
    display: flex;
    gap: var(--space-6);
    position: relative;
    z-index: calc(var(--depth-foreground) + 1);

    .window--has-controls-right & {
      order: 0;
    }

    .window--has-controls-right .window__aside & {
      justify-content: flex-end;
    }
  }

  &__control {
    appearance: none;
    border: none;
    outline: none;
    width: var(--space-16);
    height: var(--space-16);
    border-radius: var(--space-20);
    color: var(--lime-900-a20);
    box-shadow: var(--edge-surface) var(--dawn-500);
    // background-color: var(--lime-400);
    background: linear-gradient(0deg, var(--lime-700), var(--lime-300));
    opacity: 0.8;
    border: solid var(--space-1) var(--dawn-900);
    transition: var(--duration-default) var(--easing-default);
    transition-property: box-shadow, opacity;

    :host([aria-current='true']) & {
      opacity: 1;
    }

    &--suspend {
      color: var(--magenta-900-a20);
      background: linear-gradient(0deg, var(--magenta-700), var(--magenta-400));
      // border-color: var(--magenta-700);

      .window--has-controls-right .window__aside &,
      .window--theme-is-square & {
        order: 1;
      }

      &:hover,
      &:focus-visible {
        background-color: var(--magenta-300);
      }

      :host([mode='dark']) & {
        // border-color: var(--magenta-800);
        background-color: var(--magenta-600);

        &:hover,
        &:focus-visible {
          background-color: var(--magenta-400);
        }
      }
    }

    &--hide {
      color: var(--yellow-900-a20);
      // background-color: var(--yellow-400);
      background: linear-gradient(0deg, var(--yellow-700), var(--yellow-300));

      // border-color: var(--yellow-800);

      &:hover,
      &:focus-visible {
        background-color: var(--yellow-300);
      }

      :host([mode='dark']) & {
        // color: var(--dusk-900-a20);
        background-color: var(--orange-500);
        // border-color: var(--brown-700);

        &:hover,
        &:focus-visible {
          background-color: var(--orange-300);
        }
      }
    }

    :host([mode='dark']) & {
      // color: var(--dusk-900-a20);
      background-color: var(--green-600);
      border-color: var(--dusk-900);
      box-shadow: var(--edge-surface) var(--dusk-900);

      &:hover,
      &:focus-visible {
        background-color: var(--green-500);
      }
    }

    :host([accent][mode='dark']) & {
      border-color: var(--accent-900);
      box-shadow: var(--edge-surface) var(--accent-800);
    }

    :host([aria-current='true'][accent]) & {
      border-color: var(--accent-800);
      box-shadow: var(--edge-surface) var(--accent-700-a20);
    }

    :host([aria-current='true'][accent][mode='dark']) & {
      box-shadow: var(--edge-surface) var(--accent-900);
      border-color: var(--accent-900);
    }

    :host([accent][mode='dark']) & {
      color: var(--dusk-900-a20);
    }

    &:hover,
    &:focus-visible {
      background-color: var(--lime-300);
    }
  }

  &__body {
    position: relative;
    display: flex;
    overflow: hidden;

    flex-grow: 1;
    // gap: var(--space-1);
    // backdrop-filter: blur(var(--space-8));
    // border: solid var(--space-1) var(--dawn-900-a20);
    // border-bottom-color: var(--dawn-900-a40);
    // border: solid var(--space-1) var(--dawn-300-a90);
    // background-color: var(--dawn-100);

    // &:not(:first-child) {
    //   border-width: 0;
    // }

    // // border-bottom-left-radius: var(--space-6);
    // // border-bottom-right-radius: var(--space-6);

    // border: solid var(--space-1) var(--dawn-900-a20);
    // border-top-width: 0;
    // background-color: var(--dawn-900-a80);
    // padding: 0 var(--space-1) var(--space-1);

    :host([mode='dark']) & {
      // border-color: var(--dusk-900);
      // background-color: var(--dusk-900);
      box-shadow:
        var(--shadow-fixed) var(--dusk-900-a20),
        var(--edge-surface) var(--dusk-900-a10);

      // box-shadow: var(--edge-surface) var(--dusk-900-a20);
    }

    :host([accent]) & {
      box-shadow:
        var(--shadow-fixed) var(--accent-900-a10),
        var(--edge-surface) var(--accent-900-a5);
    }

    :host([accent][mode='dark']) & {
      // border-color: var(--accent-900);
      // border-top: solid var(--space-1) var(--accent-800);

      box-shadow:
        var(--shadow-fixed) var(--accent-900-a20),
        var(--edge-surface) var(--accent-900-a10);
    }
  }

  &__aside,
  &__content {
    // border-radius: var(--space-4);
    box-shadow: var(--edge-surface) var(--dawn-900-a10);
  }

  &__aside {
    padding: var(--space-24) var(--space-36);
    background-color: var(--dawn-300);
    padding: var(--space-24);
    min-width: var(--space-280);
    flex-shrink: 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;

    // .window--type-is-secondary & {
    //   border-right:
    // }

    :host([mode='dark']) & {
      background-color: var(--dusk-800-a90);
      backdrop-filter: blur(var(--space-32));
    }

    :host([aria-current='true'][accent][monochrome='true']) & {
      background-color: var(--accent-200);
    }

    :host([aria-current='true'][accent][mode='dark'][monochrome='true']) & {
      background-color: var(--accent-900-a90);
    }

    .window--is-zoomed & {
      :host([accent][mode='dark'][monochrome='true']) & {
        background-color: var(--accent-900-a90);
      }
    }
  }

  &__content {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    // height: 100%;
    overflow: auto;
    transition: var(--duration-default) var(--easing-default);
    transition-property: background-color, border-color;

    border-left: solid var(--space-1) var(--dawn-300);

    :host([mode='dark']) & {
      border-color: var(--dusk-700-a40);
    }

    :host([aria-current='true'][accent][monochrome='true']) & {
      border-color: var(--accent-500);
    }

    :host([accent][mode='dark'][monochrome='true']) & {
      border-color: var(--accent-800);
    }

    .window--is-zoomed & {
      background-color: var(--dawn-100);

      :host([mode='dark']) & {
        background-color: var(--dusk-800);
      }

      :host([aria-current='true'][accent][monochrome='true']) & {
        background-color: var(--accent-300);
      }

      :host([accent][mode='dark'][monochrome='true']) & {
        background-color: var(--accent-900);
      }
    }

    // &::before {
    //   background-color: var(--dawn-600);

    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   left: 0;
    //   width: var(--space-1);
    //   content: ' ';
    //   display: block;
    // }

    // :host([accent][aria-current='true'][mode='dark']) & {
    //   background-color: var(--accent-900-a95);
    //   // backdrop-filter: blur(var(--space-32));
    // }
  }

  &__content-slot {
    padding: var(--space-24) var(--space-36);
  }

  &__views {
    display: flex;
    flex-wrap: nowrap;
    flex-grow: 1;
  }

  &__view {
    width: 0;
    flex-grow: 1;
    padding: var(--space-8);

    &:not(:only-child) {
      border-left: solid var(--space-1) var(--dawn-600);
      // background-color: var(--dawn-500-a20);

      :host([mode='dark']) & {
        border-color: var(--dusk-700-a40);

        // border-color: var(--dusk-900-a40);
        // background-color: var(--dusk-900-a20);
      }

      :host([accent]) & {
        border-color: var(--accent-300);
      }

      :host([accent][mode='dark']) & {
        border-color: var(--accent-800);
      }

      &:first-child {
        border-left-width: 0;
      }
    }
  }

  &__handle {
    position: absolute;
    z-index: var(--depth-foreground);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: black;
    opacity: 0;
    order: -2;

    &[data-pivot='5'] {
      :host([aria-grabbed]) & {
        cursor: move;
      }
    }

    &[data-pivot='1'],
    &[data-pivot='2'],
    &[data-pivot='3'] {
      top: 0;
    }

    &[data-pivot='1'],
    &[data-pivot='4'],
    &[data-pivot='7'] {
      left: 0;
    }

    &[data-pivot='7'],
    &[data-pivot='8'],
    &[data-pivot='9'] {
      top: auto;
      bottom: 0;
    }

    &[data-pivot='4'],
    &[data-pivot='6'] {
      top: var(--space-12);
      bottom: var(--space-12);
      // top: calc(50% - var(--space-6));
    }

    &[data-pivot='1'] {
      border-top-left-radius: var(--space-6);
      cursor: nw-resize;
    }

    &[data-pivot='3'] {
      cursor: ne-resize;
      border-top-right-radius: var(--space-6);
    }

    &[data-pivot='4'] {
      cursor: w-resize;
    }

    &[data-pivot='6'] {
      cursor: e-resize;
    }

    &[data-pivot='7'] {
      cursor: sw-resize;
      border-bottom-left-radius: var(--space-6);
    }

    &[data-pivot='9'] {
      cursor: se-resize;
      border-bottom-right-radius: var(--space-6);
    }

    &[data-pivot='2'] {
      cursor: n-resize;
      border-bottom-left-radius: var(--space-6);
      border-bottom-right-radius: var(--space-6);
      left: calc(50% - var(--space-6) * 3);
    }

    &[data-pivot='8'] {
      cursor: s-resize;
      left: var(--space-12);
      right: var(--space-12);
    }

    &[data-pivot]:not([data-pivot='5']) {
      .window--is-zoomed & {
        cursor: default;
        display: none;
      }

      opacity: 0.5;

      &[data-pivot='1'],
      &[data-pivot='3'],
      &[data-pivot='7'],
      &[data-pivot='9'] {
        width: var(--space-12);
        height: var(--space-12);
      }

      &[data-pivot='4'],
      &[data-pivot='6'] {
        height: auto;
        width: var(--space-12);
      }

      &[data-pivot='2'] {
        height: var(--space-12);
        width: calc(var(--space-12) * 3);
      }

      &[data-pivot='8'] {
        width: auto;
        height: var(--space-12);
      }

      :host([aria-current='true']) .window:hover & {
        opacity: 0.1;
      }
    }

    &[data-pivot='3'],
    &[data-pivot='6'],
    &[data-pivot='9'] {
      right: 0;
      left: auto;
    }
  }

  &__resize-indicator {
    transform: translateX(1px);
    position: fixed;
    top: 50%;
    background-color: var(--dawn-800-a20);
    opacity: 1;
    left: 50%;
    // transform: translate(-50%, -50%);
    // visibility: hidden;
    opacity: 0;
    width: 25vw;
    height: 25vh;
    transition:
      // width var(--duration-default) var(--easing-default),
      // height var(--duration-default) var(--easing-default),
      // top var(--duration-default) var(--easing-default),
      // transform var(--duration-default) var(--easing-default),
      // left var(--duration-default) var(--easing-default),
      all 0ms linear var(--duration-default),
      opacity var(--duration-default) var(--easing-default);
    // visibility 0ms linear var(--duration-default);

    :host([mode='dark']) & {
      background-color: var(--dusk-800-a20);
    }

    :host([edge-x]) &,
    :host([edge-y]) & {
      opacity: 1;
      visibility: visible;
      transform: none;
      transition:
        // width var(--duration-default) var(--easing-default),
        // height var(--duration-default) var(--easing-default),
        all 0ms linear 0ms,
        transform var(--duration-default) var(--easing-default),
        // top var(--duration-default) var(--easing-default),
        // left var(--duration-default) var(--easing-default),
        opacity var(--duration-default) var(--easing-default);
    }

    // :host([edge-y='top']) &,
    // :host([edge-y='bottom']) &,
    // :host([edge-x='left']) &,
    // :host([edge-x='right']) & {
    //   left: 0;
    //   top: 0;
    //   height: 100%;
    // }

    :host([edge-x='left']) &,
    :host([edge-x='right']) & {
      top: 0;
      width: 50%;
      height: 100%;
    }

    :host([edge-x='left']) & {
      right: 100%;
      left: auto;
      transform: translateX(100%);
    }

    :host([edge-x='right']) & {
      left: 100%;
      right: auto;
      transform: translateX(-100%);
    }

    :host([edge-y='top']) &,
    :host([edge-y='bottom']) & {
      left: 0;
      width: 100%;
    }

    :host([edge-y='top']) & {
      bottom: 100%;
      height: 100%;
      top: auto;
      transform: translateY(100%);
    }

    :host([edge-y='bottom']) & {
      bottom: auto;
      height: 50%;
      top: 100%;
      transform: translateY(-100%);
    }

    // :host([edge-y='top']) & {
    //   width: 100%;
    //   height: 100%;
    // }

    // :host([edge-y='bottom']) & {
    //   top: 50%;
    //   width: 100%;

    //   height: 50%;
    // }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: calc(var(--depth-foreground) - 1);
    background-color: var(--dawn-900-a80);
    padding: var(--space-64);
    display: flex;
    justify-content: center;
    backdrop-filter: blur(var(--space-32));
    overflow: auto;

    :host([mode='dark']) & {
      background-color: var(--dusk-900-a80);
    }
  }

  &__overlay-main {
    position: relative;
    margin: auto;
    flex-shrink: 0;
    width: 100%;
    max-width: var(--breakpoint-tablet);
    background-color: var(--dawn-400-a90);
    border: solid var(--space-1) var(--dawn-900-a80);
    box-shadow:
      var(--shadow-foreground) var(--dawn-900),
      var(--edge-foreground) var(--dawn-900);

    padding: var(--space-32);
    border-radius: var(--space-8);
    color: var(--dawn-100);

    :host([mode='dark']) & {
      background-color: var(--dusk-100-a20);
      border: solid var(--space-1) var(--dusk-900-a80);
      box-shadow:
        var(--shadow-foreground) var(--dusk-900-a10),
        var(--edge-foreground) var(--dusk-900-a5);

      &::before {
        color: var(--dusk-500);
      }
    }

    &::before {
      position: absolute;
      top: var(--space-1);
      left: var(--space-6);
      right: var(--space-6);
      height: var(--space-1);
      content: ' ';
      display: block;
      color: var(--dawn-100);
      background: linear-gradient(
        90deg,
        transparent 0%,
        currentColor var(--space-32),
        currentColor calc(100% - var(--space-32)),
        currentColor calc(100% - var(--space-32)),
        transparent 100%
      );
    }
  }
}
